<% if current_user %> 
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <h1>Welcome <%= current_user.email %></h1>
<% else %>
  <h1>Please Lonin/Sign Up</h1>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to  "Sign Up", new_user_registration_path %>
<% end %>

<%= render 'questions/questions_list' %>

<%= link_to 'Add new Topic', new_topic_path %>

<%= link_to 'All Topics', topics_path %>

<%= link_to 'All Users', users_path %>